* {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(224, 194, 137);
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    min-width: 320px;
    max-width: 640px;
    width: 100%;
}

.header {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.button-container {
    margin: 10px;
}

.button-container button {
    margin-right: 5px;
}

.inputArea, .searchArea {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputArea input, .searchArea input {
    width: 80%;
    border: 1px solid #eee;
    font-size: 1.3em;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
}

.inputArea input:focus, .searchArea input:focus {
    outline: none;
}

.inputArea button, .searchArea button {
    width: 60px;
    height: 45px;
    font-size: 20px;
    background-color: #FF6F61;
    color: rgb(87, 67, 32);
    border: none;
    vertical-align: bottom;
    cursor: pointer;
}

.listArea {
    border: 1px solid #eee;
    list-style: none;
    text-align: left;
    font-size: 1.3em;
}

.listArea .termNumber{
    margin-right: 10;
    font-weight: bold;
}

.listArea li {
    border: 1px solid #eee;
    padding: 10px;
    display: flex;
    align-items: center;
}

.listArea .checkBtn {
    border: 1px solid #eee;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.listArea .check {
    border: 1px solid #eee;
    text-decoration: line-through;
}

.listArea .delBtn {
    background-color: transparent;
    border: none;
    color: red;
    font-weight: bold;
    font-size: 1em;
    margin-left: 20px;
    cursor: pointer;
}

.termText, .definitionText {
    margin-right: 10px;
}

.editArea{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editArea input{
    width: 80%;
    border: 1px solid #eee;
    font-size : 1.3em;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
}

.editArea button{
    width: 60px;
    height: 45px;
    font-size: 1.1em;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

@media (max-width: 640px) {
    .container {
        width: 100%;
    }

    .inputArea input, .searchArea input {
        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 959px) {
    .container {
        width: 80%;
    }

    .inputArea input, .searchArea input {
        width: 90%;
    }
}

@media (min-width: 960px) {
    .container {
        width: 60%;
    }

    .inputArea input, .searchArea input {
        width: 95%;
    }
}
